/**********
页面的样式设置
********/


/*--------------
 页面的基本样式设置
--------------*/

html{
    font-size:62.5%;
    color:#222;
    font-family: "微软雅黑";

}

::selection{
    background-color:#b3d4fc;
    text-shadow: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

/* --------------
 一些工具样式
 ----------------*/

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left{
    float: left !important;
}
.text-right{
    text-align: right !important;
}

.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center !important;
}

.hide{
    display: none !important;
}

.show{
    display: block !important;
}

.invisible{
    visibility: hidden ;
}

.text-hide{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:after,
.clearfix:before{
    content: " ";
    display: table;
    clear: both;
}

.clearfix{
    zoom: 1;
}

/*自定义样式页面*/

body{
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a{
    color: #666;
    text-decoration: none;
}

a:hover,a:active {
    color: #0ae;
    text-decoration: underline;
}

.borwerupdata {
    background-color: aqua;
    color: white;
    font-size:1.5rem;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

/*网站头部*/

header{
    width: 100%;
}
header .nav-top{
    line-height:3rem;
    padding: 0 1.5rem;
    color: #f7f7f7;
    background: #555;
    border-bottom: 1px solid #ecc000;
}

header .nav-top .nav-tel{
    float: left;
}

header .nav-top ul{
    text-align: right;
}

header .nav-top ul li {
    display: inline-block;
}

header .nav-top ul li+li{
    border-left: 1px solid #999;
    margin-left: -0.5rem;
}

header .nav-top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #f7f7f7;
}

@media (max-width: 57.5em) {
    header .nav-top ul li a {
        display: inline-block;
        padding: 0 1rem;
        color: #f7f7f7;
    }
}

@media (min-width: 30.0625em) and (max-width: 57.4375em) {

}

@media (max-width: 30em) {
    .nav-top .nav-tel{
        display: none;
    }
    .nav-top ul li.nav-tel-none{
        display: none;
    }

}

header .nav-main .brand{
    float: left;
    padding: 1rem 1.5rem;
}

header .nav-main ul{
    text-align: right;
}

header .nav-main ul li {
    display: inline-block;
    border-left: 1px solid #f0ede9;
    margin-left: -0.5rem;

}

header .nav-main ul li a{
    display: inline-block;
    padding: 0 3rem;
    font-size:1.6rem;
    line-height: 5.5rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

@media (max-width: 57.5em) {
    header .nav-main .brand{
        display: block;
        float: none;
        margin: 1rem auto;
        width:16rem;
    }

    header .nav-main ul{
        text-align: center;
    }

    header .nav-main ul li {
        display: inline-block;
        border-left: none;
        margin-left: -0.5rem;

    }

    header .nav-main ul li a{
        padding: 0 1rem;
        font-size: 1.6rem;
        font-weight: 600;
    }

    header .nav-main ul li a:hover,
    header .nav-main ul li a:active,
    header .nav-main ul li a:active{
        color: #ffb300;
    }
}

@media (min-width: 30.0625em) and (max-width: 57.4375em) {

}

@media (max-width: 30em) {
    header .nav-main ul li:first-child a{
        display: none;
    }

    header .nav-main ul li a{
        padding: 0 1rem;
        font-size: 1.4rem;
        line-height: 4rem;
    }
}

header .nav-main ul li a:hover,
header .nav-main ul li a:active,
header .nav-main ul li a:active{
    color: #ffb300;
}

/*网站主体内容*/

.container{
    width: 100%;
}

.transaction{
    width: 100%;
    background-color:#7c7365;
}

.trans-content{
    max-width:90%;
    margin: 0 auto;
    font-size: 1.5rem;
    overflow: hidden;
}

.trans-data{
    float: left;
    padding: 1rem;
    text-align: left;
}

.trans-data span{
    display: inline-block;
    line-height: 3rem;
    color: #f7f7f7;
}

.trans-data span.trans-money{
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 1px 2px 1px #333 ;
}


.trans-report{
    text-align: right;
}

.trans-report a{
    display: inline-block;
    padding: 1rem;
    line-height: 3.2rem;
    color: #f7f7f7;
}

@media (max-width: 57.5em){
    .trans-content{
    max-width: 98%;
    }

    .trans-data span.trans-money{
        background-color: transparent;
        margin: 0;
        padding: 0;
        box-shadow: none;
        font-size: 0.6rem;
        letter-spacing: inherit;
    }
    .trans-data{
        font-size: 0.6rem;
        padding: 1rem 0.5rem 1rem 0rem;
    }

    .trans-report a{
        display: inline-block;
        padding: 1rem 0rem 1rem 0.5rem;
        line-height: 3.2rem;
        color: #f7f7f7;
        font-size: 0.6rem;
        text-decoration: none;
    }
}


@media (min-width: 30.0625em) and (max-width: 57.4375em) {

}

@media (max-width: 30em) {
    .trans-data{
        float: none;
        text-align: center;
        font-size: 1.4rem;
        padding: 0.3rem;
    }
    .trans-report{
        text-align: center;
    }
    .trans-data span.trans-money{
        font-size: 1.6rem;
    }

    .trans-report a{
        font-size: 1.4rem;
        padding: 0.3rem 0.5rem;
    }
}

/*广告*/
ul.bxslider li img{
    width: 100%;
}

.feature{
    width: 90%;
    margin: 2rem auto;
    font-size: 0;
}

.feature .item{
display: inline-block;
width: calc(33.33333333333333% - 3rem);
padding: 1rem;
font-size: 1.4rem;
background-color: #f7f7f7;
box-shadow: 0 0 4px #ccc;
}

.feature .item+.item{
    margin-left: 1.5rem;
}

.feature .item h3{
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #ff9900;
}

.feature .item p{
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    color: #999999;
}

@media (max-width: 57.5em){

}

@media (min-width: 30.0625em) and (max-width: 57.4375em) {
    .feature{
        width: 100%;
        margin: 2rem 0;
    }

    .feature .item h3{
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .feature .item p{
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 30em){
    .feature{
        width: 96%;
        margin: 2rem auto;
    }
    .feature .item{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .feature .item+.item{
        margin-top: 1rem;
        margin-left: 0;
    }


    .feature .item p{
        padding: 1rem 0;
    }
    .feature .item h3{
        line-height: 7rem;
    }
}
.notice{
    margin: 2em auto;
    font-size: 1.4rem;
    line-height: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}
.notice a{
    float: left;
    display: inline-block;
    width: 60%;
    margin-left: 2rem;
    text-decoration: none;
}

.notice a:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notice a:first-child:before{
    content: '最新公告： \00a0 \00a0';
    color: #aaaaaa;
}

.notice a span{
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.notice a.more{
    text-align: right;
    width: 30%;
    color: #ff9900;
}

@media (max-width: 57.5em){
    .notice a span{
        display: none;
    }

    .notice a:first-child:before{
        content: '最新公告: \00a0';
        color: #aaaaaa;
    }

    .notice a{
        width: 60%;
        margin-left: 1rem;
    }

    .notice a.more{
        float: right;
        margin-right: 1rem;
        width: 20%;
        color: #ff9900;
    }

    .notice{
        margin: 1.5rem auto;
    }
}

.product{
    width: 90%;
    background-color: #f5f9fa;
    margin: 2rem auto;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}

.product h2{
    float: left;
    margin-top: 3rem;
    width: 20%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}

.product h2 em {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-style: normal;

}

.product h2 em:first-child{
    margin-top: 4rem;
}

.product .product-content{
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-content .item{
    width: 100%;
}

.product .product-content .item+.item{
    border-top: 1px solid #eee;
}

.product .product-content .item h3{
    float: left;
    width: 30%;
    margin: 1.5rem;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.product .product-content .item h3 em{
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;

}

.product .product-content .item h3 i{
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .info{
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 1rem;
}

.product .product-content .item .info p{
    float: left;
    display: inline-block;
    text-align: center;
    width: 56%;
}

.product .product-content .item .info p:last-child{
    width: 40%;
}

.product .product-content .item .info p span i{
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .info p span{
    display: block;
    font-size: 3rem;
    color: #f3ba0d;
}

.product .product-content .item .buy{
    float: left;
    width: calc(22% - 7.2rem);
    padding: 1rem;
}

.product .product-content .item .buy a{
    text-decoration: none;
    display: block;
    width: 90%;
    margin: 1.3rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}

.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active{
    background-color: #ffc468;
}

@media (max-width: 57.5em){
    .product{
        width: 100%;
        margin: 0 ;
    }

    .product h2{
        float: none;
        margin: 0 0;
        width: auto;
        line-height: 3rem;
    }

    .product h2 em{
        display: inline-block;
        margin: 0 0.3rem;
    }

    .product h2 em:first-child{
        margin: 1rem 0.3rem;
    }
    .product .product-content{
        float: none;
        width: 100%;
        border-left: none;
    }

}

@media (min-width: 30.0625em) and (max-width: 57.4375em){
    .product .product-content .item h3{
        width: 20%;
    }

    .product .product-content .item .info p span{
        display: block;
        font-size: 2rem;
        color: #f3ba0d;
    }

    .product .product-content .item .buy{
        padding: 0.7rem;
        width: calc(32% - 7.2rem);
    }

}

@media (max-width: 30em) {
    .product{
        border-right:none ;
        border-left:none ;
    }

    .product .product-content{
        border-left: 0 ;

    }

    .product h2 em {
        display: block;
        margin-top: 0.5rem;
        font-size: 1.6rem;
        font-style: normal;

    }
    .product h2 em:first-child {
        display: block;
        margin: 0.5rem 0 0 0;
        font-size: 1.6rem;
        font-style: normal;

    }
    .product .product-content .item h3{
        width: 30%;
        float: none;
        display: inline-block;
        line-height: 1.5;
        vertical-align: middle;
        margin: 1.5rem 0;
    }

    .product .product-content .item .info{
        width: calc(70% - 0.6rem);
        border: none;
        float: none;
        display: inline-block;
        padding: 1rem 0;
        vertical-align: middle;
    }

    .product .product-content .item .info p span{
        display: block;
        font-size: 2rem;
        color: #f3ba0d;
    }


    .product .product-content .item .buy{
        float: none;
        width: 100%;
        display:block;
        padding: 0;
        margin: 1rem 0;
    }
    .product .product-content .item .buy a{
        display: block;
        max-width: 70%;
    }

}


.footer {
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.footer-content{
    width: 90%;
    margin: 0 auto;
}

.footer-content .brand{
    float: left;
    display: block;
    filter: grayscale(100%);
    width: 18%;
    height: 35px;
    background: url("../img/logo@1x.png") no-repeat left;
    background-size: 150px 35px;

}

.footer-content ul{
    float: left;
    width: 14%;
}

.footer-content ul li{
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: right;
}

.footer-content ul li a{
    text-decoration: none;
}

.footer-content ul li+li a{
    color: #cccccc;
}

.footer-content ul li a.title{
    font-size: 1.6rem;
    color: #555555;
    font-weight: 600;
}

@media (max-width: 57.5em) {
    .footer-content .brand{
        display: none;
        background: none;
    }

    .footer-content ul{
        width: 20%;
        text-align: right;
    }

    .footer-content ul li{
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: left;
    }

    .footer-content ul li.title{
        font-size: 1.4rem ;
        line-height: 2.5rem;
    }
}

@media (max-width: 30em) {
    .footer-content {
        width: 98%;
        text-align: left;
    }

    .footer-content ul li.title{
        font-size: 1.1rem ;
        line-height: 2rem;
    }

    .footer-content ul li{
        text-align: left;
    }

    .footer-content ul li a.title{
        font-size: 1.3rem;
        color: #555555;
        font-weight: 600;
    }

    .footer-content ul {
        text-align: left;
    }
}


/*底部导航*/

footer{
    width: 100%;
    background:#f4f5ff;
    padding: 2rem 0 3rem 0;
}

footer ul{
    width:486px;
    margin: 0 auto;
}

footer ul li{
    display: inline-block;
}

footer ul li .icon{
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url("../img/cert1.png");
    background-size:466px 447px;
    overflow: hidden;
}

footer ul li .icon-zf{
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pc{
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-vi{
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-ve{
    width: 63px;
    height: 27px;
    background-position: -401px -186px;
}

footer ul li .icon-wl{
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-dz{
    width: 75px;
    height: 27px;
    background-position: 0px -320px;
}

footer ul li .icon-bj{
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url("../img/cert2.png");
    background-position: 0px 0;
}

footer p{
    text-align: center;
    color: #999;
}

@media (max-width: 57.5em){

    footer{
        width: 100%;
        background:#f4f5ff;
        padding: 2rem 0 3rem 0;
        margin: 0;
    }
    footer ul{
        width: 350px;
    }

    footer ul li .icon{
        margin-right: 0;
    }

    footer ul li+li{
        margin-left: -0.25rem;
    }
}


